# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/
.ipynb_checkpoints/

# Env / IDE
venv/
.env/
.venv/
.env*/
.vscode/
.idea/

# Dati e output
data/
datasets/
outputs/
checkpoints/
*.keras
*.h5
*.ckpt
*.pt
*.pth
*.onnx
*.tflite
*.zip
*.tar
*.parquet
*.npz
*.npy
*.jpg
*.jpeg
*.png

# OS
.DS_Store
Thumbs.db

# Escludi tutti i file video nella cartella Dataset_video
/Dataset_video/
/Dataset_video/*
/Dataset_jpg/
/Dataset_jpg/*