asposestorage==1.0.2
ffmpeg_python==0.2.0
joblib==1.5.2
matplotlib==3.10.7
moviepy==2.2.1
numpy==2.3.4
opencv_python==4.12.0.88
Pillow==12.0.0
scikit_learn==1.7.2
torch==2.6.0+cu118
torchvision==0.21.0+cu118
